# Mobile
EXPO_PUBLIC_SUPABASE_URL=https://qeldgdgvhdkctphjpeuq.supabase.co
EXPO_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFlbGRnZGd2aGRrY3RwaGpwZXVxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg4MTA0NTAsImV4cCI6MjA5NDM4NjQ1MH0.49fFUEcMOgf-uNuW6tJ5b0Y_M05V2RERHOJNms1fpGo
EXPO_PUBLIC_WEB_PUBLIC_URL=http://localhost:5173

# Web
VITE_SUPABASE_URL=https://qeldgdgvhdkctphjpeuq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFlbGRnZGd2aGRrY3RwaGpwZXVxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzg4MTA0NTAsImV4cCI6MjA5NDM4NjQ1MH0.49fFUEcMOgf-uNuW6tJ5b0Y_M05V2RERHOJNms1fpGo

# Supabase Edge Functions
SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
EXPO_ACCESS_TOKEN=